.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #3e6bff;
  color: white;

  .navbar__link {
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    color: #ffffff80;

    &:focus,
    &:hover {
      background-color: #4d76ff;
      color: #ffffffbf;
    }

    &.navbar__link--active {
      color: #ffffff;
    }
  }
}
